.block{
    background: teal;
    width: 600px;
    height: 80px;
    margin:0 auto;
}

.around{
    background: #D0D0D0;
    width: 500px;
    height: 520px;
    margin: 10px auto;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signup{
    color: gray;
    text-align:center;
    font-size: 30px;
    line-height: 100px;
}

.text{
    text-align:left;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 100px;
}

.box{
    text-align:left;
    width:300px;
    line-height: 15px;
    background: white;
    font-size: 20px;
}

.but{
    background: teal;
    color: white;

    width: 100px;
    height: 30px;
    margin-top: 40px;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}