<body bgcolor="teal">

<div class="block"></div>
<div class="around">
    <div class="block1"></div>
    <div class="incorrect">The username or password is not correct</div>
    <div><input id="EnterText" type="text" required name='user_name' placeholder="Enter your email"></div>
    <div><input id="EnterPassword" type="password" required name='pass' placeholder="Password"></div>
    <button class="but" id="Button">Login</button>
    <button class="but" id="SignButton">Sign up</button>
    <div class="lyp">Lost your password</div>
    <h1 class="load">Loading...</h1>
</div>

</body>
