<div class="loginblock"></div>
<div class="loginaround">
    <div class="loginblock1"></div>
    <div class="loginincorrect">The username or password is not correct</div>
    <input id="EnterText" type="text" required name='user_name' placeholder="Enter your email">
    <br><input id="EnterPassword" type="password" required name='pass' placeholder="Password">
    <br><button class="loginbut" id="Button">Login</button>
    <button class="loginbut" id="SignButton">Sign up</button>
    <div class="loginlyp">Lost your password?</div>
</div>